###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
/assets/css/game.css
/assets/js/games
/assets/js/Aufgabe.js
/assets/js/aufgabetest.js
/assets/js/inView.js
###< symfony/asset-mapper ###

###> .envs ###
.env
.env.test
###< .envs ###

###> web page templates ###
templates/memory_game
templates/imageslider
###< web page templates ###

###> web page controllers ###
src/Controller/ImagesliderController.php
src/Controller/MemoryGameController.php
###< web page controllers ###
