.home-fade-in-transition-red {
    color: red;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
}

#welcome-img {
    background-image: url('../images/buffet.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    text-align: center;
    text-shadow: -5px 2px 5px black;
    color: white;
}

#welcome-img h1 {
    font-size: 5em;
}

#welcome-img h1 {
    font-size: 5vw;
}

#postcode-align-container {
    flex-direction: column;
}

.city-select {
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
    border-radius: 15px;
    max-height: calc(100vh - 10vw);
}

#postcode-container h3 {
    font-size: 3vw;
}

#postcode-container div.input-group{
    width: 85px;
}

#postcode-container input.form-control {
    font-size: 1em;
    padding: 10px;
    height: 45px;
    font-weight: 600;
    text-align: center;
}

.city-select-element {
    width: 100%;
    height: calc((100vh - 10vw) / 10);
    max-height: calc((100vh - 10vw) / 10);
    border: 1px solid gray;
    background: rgb(125, 125, 125, .3);
    cursor: pointer;
    margin-bottom: .5vh;
}

.city-select-element span{
    font-size: 1.5vw;
    height: calc((95vh - 15vw - 85px) / 10);
    display: flex;
    align-items: center;
}

#selected-city-span {
    
}

.city-select-element:hover {
    background: rgb(125, 125, 125, .7);
}

#carouselExampleIndicators img {
    cursor: pointer;
}